{% extends 'blog/base.html' %}

{% block content %}
        <div>
            <h2>Bitcoin 봉별 RSI</a></h2>
            <ul>
            {% for key, value in rsi_list.items %}
              <h3><li>RSI {{ key|upper }}봉 : {{ value }}.</li></h3>
            {% endfor %}
          </ul>
        </div>
        <div>
            <h2><a href="http://bitfinex.com">Price List in Bitfinex.com</a></h2>
            <ul>
            {% for key, value in coin_price.items %}
              <h3><li>{{ key|upper }} is {{ value }}.</li></h3>
            {% endfor %}
          </ul>
        </div>
        <div>
            <h2><a href="http://coinone.co.kr/chart/">Price List in Bithumb.com</a></h2>
            <ul>
            {% for key, value in coin_price_bithumb.items %}
              <h3><li>{{ key }} is {{ value }}.</li></h3>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
