{% extends 'blog/base.html' %}

{% block content %}
        <div>
          <h4>Elapse_time : {{ elapse_time }}초가 걸렸습니다.</h4>
          <h4>             → {{ elapse_time_message }}</h4>
        <div>
            <h2>Bitcoin 봉별 RSI</a></h2>
            <ul>
            {% for key, value in rsi_btc_list.items %}
              <h3><li>RSI {{ key|upper }}봉 : {{ value }}.</li></h3>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Coin 종류별 1일봉 RSI</a></h2>
            <ul>
            {% for key, value in rsi_coin_list.items %}
              <h3><li>RSI 1일봉 {{ key }} : {{ value }}.</li></h3>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
