{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>CYMBALS4 - about</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1><a href = "index.html">CYMBALS4</a></h1>
    </header>
    <nav>
      <ul>
        <li><a href = "about.html">about</a></li>
        <li><a href = "coin.html">coin index</a></li>
        <li><a href = "jpy.html">jpy exchange</a></li>
        <li><a href = "contact.html">contact</a></li>
      </ul>
    <article>
      {% block content %}
      {% endblock %}
      <!-- index.html은 첫화면이니까 여기에 Coin 시세들 table 로 넣으면 좋을듯.
            솔직히 아직 이홈페이지가 다른 홈페이지와의 차별화 포인트가 없음
            그냥 일단 luka7.net 처럼 김프라도 계산해놓음 좋을듯.
            원화 달러화 차이정도 혹은 거래소별 btc가격차이정도 추가.-->
    </article>
  </body>
</html>
